@font-face {
    font-family: 'league_spartanbold';
    src: url('https://quincetart10.is-a.dev/leaguespartan-bold-webfont.woff2') format('woff2'),
        url('https://quincetart10.is-a.dev/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    background: #1a1a1a;
}
body {
    margin: 0;
}
nav {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 15px;
    font-size: larger;
}
nav > a {
    font-family: league_spartanbold;
    text-decoration: none;
}
.content {
    padding: 0 15px;
}
* {
    color: white;
    font-family: sans-serif;
}
h1,h2 {
    font-family: league_spartanbold;
}