@font-face {
    font-family: 'league_spartanbold';
    src: url('https://quincetart10.is-a.dev/leaguespartan-bold-webfont.woff2') format('woff2'),
        url('https://quincetart10.is-a.dev/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html {
    background: #1a1a1a;
}
body {
    margin: 0;
}
nav {
    width: calc(100% - 30px);
    padding: 15px;
    font-size: larger;
    background: #1f1f1f;
}
nav > a {
    font-family: league_spartanbold;
    text-decoration: none;
}
.content {
    padding: 15px;
    margin: auto;
    max-width: 720px;
}
* {
    color: white;
    font-family: sans-serif;
}
h1,h2,h3,h4 {
    font-family: league_spartanbold;
    margin: 0;
}
.post-meta {
    font-weight: 600;
}
code {
    background: #222222;
    font-family: monospace;
    padding: 1px 3px;
    border-radius: 5px;
}