<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" href="/assets/pfp.png" type="image/x-icon">
        <link rel="stylesheet" href="/assets/css/styles.css">
        {% feed_meta %}
        {% seo %}
        <link rel="me" href="https://mastodon.social/@quincetart10">
    </head>
    <body>
        {% include navigation.html %}
        <div class="content">{{ content }}</div>
    </body>
</html>